
  
 h3{
background-color: yellow;
width: 70%;
  }

  .main-body {
    display: grid;
    grid-template-columns: minmax(300px,auto);   
    width:50px;
    float: left;
    text-size-adjust: 400px;
    font-size: large;
}



#f1{
  
  width: 500px;
  bottom: 650px;
  float: left;
  background-color: rgb(238, 238, 238);
 
}
li{
    font-size: larger;
    position: relative;
    left: 20px;

    
}
p{
    font-size: larger;
}
h1{
    background-color: rgba(237, 233, 1, 0.959);
}
tr{
  position: relative;
  right:-400px;

}
.class{
 font-size: 50%;
}